# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
.releaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.vscode/
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.nb-configuration.xml

# System / Large Files
node-v20.11.1-win-x64/
node.zip
sbms.zip
tomcat/
node_modules/
*.log
*.tmp
*.bak

# OS
Thumbs.db
Desktop.ini
.DS_Store
